#home {
  position: relative;
  --gradient: linear-gradient(110deg, rgba(107, 118, 136, 0.63), rgba(237, 241, 245, 0.74), var(--primary-color));

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  background-size: 150%;
  background-image: var(--gradient);
  animation: bg-animation 9s infinite;


  padding: 7rem 2rem 1rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin: 10rem 0 0 5rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 2rem;

    span {
      font-size: 17px;
      width: 100%;
      color: var(--gray-color)
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 5rem;
  animation: float 6s ease-in-out infinite;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    background: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }


  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    min-width: 480px;
    object-fit: contain;
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    img {
      min-width: 280px;
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes bg-animation {
  0% {
    background-position: left
  }
  50% {
    background-position: right
  }
  100% {
    background-position: left
  }
}














